body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.tile-container {
  display: flex;
}
.tile {
  color:bisque;
  margin: 5px;
  border: 2px solid grey;
  width: 40px;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.tile.validated{
  width: 44px;
  height: 44px;
  border: 0;
}

.tile.validated.letter-not-in-word{
  background: rgba(128, 128, 128, 0.333);
}

.tile.validated.letter-in-wrong-position{
  background: rgba(255, 255, 0, 0.5);
}

.tile.validated.letter-in-correct-position{
  background: rgba(35, 220, 60, 0.85);
}